<div class="container-fluid">
    <p class="h3 p-3" > {{ anime.name}}</p>
    <div class="row">
      <div class="col-2">
        <div class="thumb">
          <img
            class="img-fluid"
            src="{{anime.img }}"
            alt="{{ tiendaAsociadaDetail.nombre }}"
             
          />
        </div>
      </div>
      <div class="col">
        <dl>
          <dt>Sedes</dt>
          <dd>{{ tiendaAsociadaDetail.sedes}}</dd>
          <dt>Link</dt>          
          <dd>{{ tiendaAsociadaDetail.link }}</dd>
          <dt>Descripcion</dt>          
          <dd>{{ tiendaAsociadaDetail.descripcion }}</dd>
          <dt>Regalo</dt>
          <dd>{{ tiendaAsociadaDetail.regalo.nombre }}</dd>

          <hr />
        </dl>
      </div>
    </div>
   </div>